# Read data from record

In [12]:
import json
import time
fd = open("record.json",'r')
data = fd.read()
fd.close()


records = json.loads(record)

In [14]:
recods

{'1001': {'name': 'Barbon',
  'catogary': 'Chocolate',
  'price': 5,
  'quantity': 50,
  'discount': 0},
 '1002': {'name': 'Barbon',
  'catogary': 'Chocolate',
  'price': 10,
  'quantity': 30,
  'discount': 0},
 '1004': {'name': 'Dairy Milk',
  'catogary': 'Chocolate',
  'price': 10,
  'quantity': 62,
  'discount': 0},
 '1005': {'name': 'Kitkat',
  'catogary': 'Chocolate',
  'price': 5,
  'quantity': 42,
  'discount': 0},
 '1006': {'name': 'Kitkat',
  'catogary': 'Chocolate',
  'price': 20,
  'quantity': 53,
  'discount': 0},
 '1007': {'name': '5 star',
  'catogary': 'Chocolate',
  'price': 5,
  'quantity': 100,
  'discount': 0},
 '1008': {'name': 'Galaxy',
  'catogary': 'Chocolate',
  'price': 5,
  'quantity': 230,
  'discount': 0},
 '1009': {'name': 'Dairy Milk Silk',
  'catogary': 'Chocolate',
  'price': 50,
  'quantity': 30,
  'discount': 0},
 '1010': {'name': 'Nestle',
  'catogary': 'Chocolate',
  'price': 5,
  'quantity': 23,
  'discount': 0},
 '1011': {'name': 'Cadbury',
  'catogary': 'Chocolate',
  'price': 10,
  'quantity': 150,
  'discount': 0},
 '1012': {'name': 'Amul',
  'catogary': 'Chocolate',
  'price': 5,
  'quantity': 20,
  'discount': 0},
 '1013': {'name': 'Ferro Rocher',
  'catogary': 'Chocolate',
  'price': 15,
  'quantity': 560,
  'discount': 10},
 '1014': {'name': 'Hershey',
  'catogary': 'Chocolate',
  'price': 5,
  'quantity': 500,
  'discount': 5},
 '1015': {'name': 'Mars',
  'catogary': 'Chocolate',
  'price': 5,
  'quantity': 102,
  'discount': 0},
 '1016': {'name': 'Galaxy',
  'catogary': 'Chocolate',
  'price': 20,
  'quantity': 80,
  'discount': 0},
 '1017': {'name': 'Milkybar',
  'catogary': 'Chocolate',
  'price': 5,
  'quantity': 90,
  'discount': 0},
 '1018': {'name': 'Amul Dark Chocolate',
  'catogary': 'Chocolate',
  'price': 80,
  'quantity': 70,
  'discount': 0},
 '1019': {'name': 'Ferrero Rocher Chocolate Balls',
  'catogary': 'Chocolate',
  'price': 50,
  'quantity': 150,
  'discount': 0},
 '1020': {'name': 'Dairy Milk',
  'catogary': 'Chocolate',
  'price': 5,
  'quantity': 50,
  'discount': 0},
 '1021': {'name': 'Lottry Choco Pie',
  'catogary': 'Cup Cake/Choco Pie',
  'price': 10,
  'quantity': 85,
  'discount': 0},
 '1022': {'name': 'Sprite',
  'catogary': 'Soft Drink',
  'price': 90,
  'quantity': 700,
  'discount': 0},
 '1023': {'name': 'fruty',
  'catogary': 'Soft Drink',
  'price': 100,
  'quantity': 750,
  'discount': 0},
 '1024': {'name': 'Maza',
  'catogary': 'Soft Drink',
  'price': 90,
  'quantity': 560,
  'discount': 0},
 '1003': {'name': 'jellybean',
  'catogary': 'chocolate',
  'price': 10,
  'quantity': 200,
  'discount': 0}}

# Purchase

In [ ]:
# print("*********************************************")
print("          Welcome to Rishav Store           \n")

i_prod  = str(input("Enter the product_Id: "))
i_quant = int(input("Enter the quantity: "))


print("Product: ", records[i_prod]['name'])
print("Price: ", records[i_prod]['price'])
print("Total Billing Amount: ", float(records[i_prod]['price']) * i_quant)

records[i_prod]['quantity'] = records[i_prod]['quantity'] - i_quant
print(time.ctime())
print("\n**********Thankyou**********")

# Update Inventory after purchase

In [16]:

js = json.dumps(records)

fd = open("data.json",'w')
fd.write(js)
fd.close()

# Total sale

In [17]:
sales = {1 : {'prod' : i_prod, 'quantity' : i_quant, 'amount': records[i_prod]['price'] * i_quant},
         }
sale = json.dumps(sales)
print("Recent Sale of Today\n",sale)
print(time.ctime())

Recent Sale of Today
 {"1": {"prod": "1002", "quantity": 3, "amount": 30}}
Mon Sep  6 11:45:21 2021